@import '../../Layout.scss';



nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;


    a{
        transition: all .4s ease;

        @include sm{
            display: none;
        }
        &:hover{
            scale:1.2;
        }
    }

    .right{
        flex:2;
        // background-color: cyan;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:20px;
        height:100%;
        background-color: #fcf5f3;

        .register{
            background-color: #fece51;
        }

        a{
            padding: 10px 12px;
            margin-inline-end: 6px;
        }

        @include md {
            background-color: transparent;
        }


        .menuIcon{
            display: none;
            z-index: 087;
            @include sm{
                display: inline;
               

            }

            img{
                width: 36px;
                height: 36px;
                cursor: pointer;
            }
        }

        .menu{
            position:absolute;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%;
            top:0;
            right:-50%;
            transition: all 1s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            

            &.active{
                right:0;
            }
            
            a{
                @include sm{
                    display: initial;
                    

                }
            }
        }

    }

    .left{
        flex:3;
        // background-color: yellow;
        align-items: center;
        gap:50px;
        display: flex;


        .logo{
            font-weight: bold;
            font-style: 20px;
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                width:28px;
            }
            span{
                @include md{
                    display: none;
                }

                @include sm{
                    display: initial;
                }
            }
        }
    }
}